.single-page-assessments {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 90%;
  padding-bottom: 40px;
}
#title {
  text-align: left;
}
.single-page-criteria {
  padding-top: 50px;
  font-weight: bold;
  width: 100%;
  margin: 0;
}
.single-page-buttons {
  padding: 40px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
